Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: FlowLeap <support@flowleap.co>
Homepage: https://www.flowleap.co/
Installed-Size: @@INSTALLEDSIZE@@
Description: AI patent agent
 FlowLeap is an AI patent agent for patent professionals: prior-art and
 freedom-to-operate searches, invalidity charts, office-action responses and
 patent drafting, grounded in EPO, USPTO and PATSTAT data.
 See https://www.flowleap.co/ for documentation and downloads.
