[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=AI patent agent for prior art, freedom to operate and drafting
GenericName=Patent Research IDE
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;Development;IDE;TextEditor;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=flowleap;patent;patents;prior art;intellectual property;IDE;
