.vscode/**
.github/**
typings/**
test/**
.gitignore
jsconfig.json
*.vsix
work/**
*.bat
.eslintrc.json
sample/**
src/**
**/*.map
**/*.ts
!**/*.d.ts
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/docs/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.md
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*